
:root {
  --light:#e7e0e0 ;
  --dark: #212121;
  --primary:#d815cb;

}
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  font-family: Verdana,Roboto, Geneva, Tahoma, sans-serif;
}
.container{
  max-width: 1280px;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
nav { 
  
  top: 0;
  right: 0;
  left: 0;
  z-index: 95;
  background-color: var(--dark);
  padding: 16px  32px;
  border-bottom: 3px solid #f052e6;
}
li{
  display:inline;
  color: var(--light);
}
nav
.hamburger{
  display: block;
  position: relative;
  z-index: 1;
  
  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.hamburger span{
  display:block ;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);

}
.hamburger.is-active span:nth-child(1){
  transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
  opacity: 0;
  transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3){
  transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
  background-color: var(--primary);
}
.menu{
  display: none;
  flex: 1 1 0%;
  justify-content:flex-end ;
  margin: 0 -16px;

}
.menu a {
  color:#fff;
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;

}
.menu a.hamburger.is-active, .menu a:hover{
  background-color: var(--primary);

}
@media (min-width: 760px){
  .hamburger{
    display: none;
  }
  .menu{
    display:flex;
    
  }
}
main{
margin: 0  0px;
padding: 0;

background-image: url(../images/background_pic.gif);
background-image: fixed;


}
a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  position: absolute ;
  top: -200px; 
  left: -400px; 
}
a.skip:focus{
  top: 20px;
  left: 0px;
}
a.skip {
      -webkit-transition: initial; 
      transition: initial; 
    }
body{
  margin: 0;
  background: #f6f4f4;
  font-family:sans-serif;
  font-weight: 300;
  color: var(--light);
}

.grid{
    display: inline-grid;
    width: 50%;
    margin-top: 2vw;
    margin-left: 25vw;
    border-radius: 25px;
    justify-content: space-between;
   
    grid-template-columns: 1fr ;
    column-gap: 50px ;
    row-gap: 20px;
    
}
.grid h2 {
  color:#212121;
}
.grid li{
  color:#212121;
}
.grid p {
  color:#212121;
}
.grid div{
 
  border: solid 2px black;
  color: #212121;
  border-radius: 25px  ;
  background-color: rgb(245,245,245) ;
  padding: 10px 10px 10px 10px ;  

}

.grid img{
  
  width: 90%;
  margin: auto ;
  display: block;

}

img{
  border: 50px solid var(--primary);
  border-radius: 25px;
  padding: auto;
  margin:auto;
  width: 75%;
}

#index_img {
  border: 1px solid var(--primary);
  border-radius:25 px;
  padding: 0px;
  width: 100%;
  margin-top: 5px  ;
}
img:nth-child(2n){
  border-style:outset;
}
div:nth-child(2n) img{
  border-style: inset;
  border-color: var(--primary);
  border-width: 5px;
}
img:hover{
  transition: 0.35s ;
  border:groove 11px var(--primary);
  
}
img:nth-child(2n) :hover{
  border:groove 20px
}

#definition{
  font-size: 30px;
}
.footer{
  
  background-color: #212121;
}
.footer p {
color: #fff;
}
.footer a{
  color: #fff;
}
}
h1{
font-size: 30px;
color:rgb(247, 245, 245);
font-weight: 900;
letter-spacing: 2px;
text-transform: uppercase;

}
h2{
  font-size: 25px;
  color:var(--light);
  font-weight: bold;
}
p{
  color: var(--light);
  line-height: 2;
}
